.contact-section {
  padding: 0px 20px;
  background-color: var(--beige);
  text-align: center;
  margin-bottom: 100px;
}

.contact-section h2 {
  font-size: 3em;
  font-weight: 600;
  color: var(--negro);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  border-bottom: 4px solid var(--rojo);
  padding-bottom: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section input,
.contact-section textarea {
  padding: 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.contact-section textarea {
  height: 150px;
  resize: none;
}
.opciones {
  padding: 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  resize: none;

}

.contact-section button {
  padding: 12px;
  background-color: var(--rojo);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: var(--oro);
}

.contact-section input:focus,
.contact-section textarea:focus {
  border-color: var(--rojo);
}

.confirmation-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}


@media (max-width: 450px) {
  .contact-section h2 {
    font-size: 1.5em;
    
  }
  
  

}
  @media (max-width: 375px) {
    .contact-section h2 {
      font-size: 1.5em;
      
    }
    }
  
    @media (max-width: 320px) {
    
      .contact-section h2 {
        font-size: 1em;
        
      }
      
      }