
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 24px;
}
.navbar-links{
  display: flex;
  align-items: center;
}
.navbar-links a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
}
.navbar-logo{
  color: #333;
}
.navbar-logo-img{
  width: 50px;
}

.cart-btnn {
  background-color: #D01C2A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.cart-btn:hover {
  background-color: #0056b3;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f00;
  color: white;
  padding: 2px 8px;
  border-radius: 50%;
  font-size: 12px;
}
@media (max-width: 450px) {
  .cart-btnn {
    height: 31px;
    width: 53px;
    font-size: 12.5px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 13px;
}
}

@media (max-width: 375px) {
  .navbar-logo {
    color: #333;
    display: flex;
}
.navbar-links a {
 
  margin-right: 11px;
  font-size: 10px;
}

 

}