.products-section {
  padding: 50px;
  background-color: #f9f9f9;
}

.products-section h2 {
  font-size: 3em;
  font-weight: 600;
  color: var(--negro);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  border-bottom: 4px solid var(--rojo);
  padding-bottom: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  margin-top: 15px;
}

.product-info h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.product-info p {
  color: #888;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.details-btn {
  padding: 8px 20px;
  background-color: #D01C2A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #B18D65;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 1000;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
    height: 435px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #D01C2A;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal-close:hover {
  color: #B18D65;
}

.modal-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.modal-content h2 {
  font-size: 1.8em;
  color: #D01C2A;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 1em;
  color: #333;
  text-align: left;
}

.modal-content strong {
  color: #D01C2A;
}

.container-details{
  display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: flex-start;
  }

.container-details-2{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.buy-btn {
  padding: 12px 24px;
  background-color: #D01C2A;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 160px;
}

.buy-btn:hover {
  background-color: #B18D65;
}

.cart-btn {
  background-color: #D01C2A; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-btn:hover {
  background-color: #B18D65;
}

.container-buttoms {
  
    
}

.cart-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.view-cart-btn {
  background-color: #D01C2A; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 160px;


}

.view-cart-btn:hover {
  background-color: #B18D65;
}

.container-buttoms {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


@media (max-width: 450px) {
  .container-details {
    
    align-items: center;
}
  .container-buttoms {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  .buy-btn {
    
    font-size: 11px;
    }
  .cart-btn {
    height: 40px;
    width: 150px;
    font-size: 8.5px;
    display: flex;
        align-items: center;
}  
.view-cart-btn {
  height: 40px;
  width: 150px;
  font-size: 11px;
}
  .modal-content p {
    font-size: 9px;
    color: #333;
    text-align: left;
}
  .modal-content {
    width: 55%;
    height: 380px;
    
}
.modal-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
  .product-item {
    width: 90%;
  
    height:290px;
  }
  .container-products {
    width: 310px;
    
}
  .product-list {
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(127px, auto));
    
}
}
@media (max-width: 375px) {
  .cart-item-details {
    margin-left: 16px;
}
  .remove-btn {
    font-size: 10px;
}
  .cart-item-price {
    color: #d01c2a;
    font-size: 11px;
}
  .cart-modal-content h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}
  .cart-modal-content {
    
    width: 60%;
    
}
  .container-details {
    height: 265px;
}
  .modal-image {
    width: 100%;
    max-width: 150px;
    height: 170px;
    border-radius: 8px;
    margin-bottom: 20px;
}.modal-content {
  width: 65%;
  height: 380px;
}
  .product-item {
    width: 90%;
  
    height:240px;
  }
  .product-list {
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(90px, auto));
    
}
.products-section h2 {
  font-size: 2em;
}
.details-btn {
  height: 35px;
  font-size: 10px;
}
.product-image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
}
}

